* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

button {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #a200ff;
}

#paper {
  background-color: #9ee01a;
}

#scissors {
  background-color: #7dbeed;
}

p {
  font-weight: bold;
  margin-bottom: 10px;
}

.your-score span {
  color: rgb(77, 128, 216);
}

.machine-score span {
  color: rgb(224, 71, 15);
}
