* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: grid;

  grid-template-columns: 100px 100px 100px;
  grid-template-columns: 20% 20% 20%;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.space {
  /* height: 300px;
  width: 300px; */
  color: white;
  font-size: 30px;
}

.one {
  background: #333453;
}

.two {
  background: #259b11;
}

.three {
  background: #800534;
}

.four {
  background: #8c8fb9;
}

.five {
  background: #ff0a0a;
}

.six {
  background: #18391e;
}

.seven {
  background: #0911f3;
}

.eight {
  background: #ef18a8;
}

.nine {
  background: #07fa54;
}
