@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
}

nav {
  margin: 44px 0 124px 76px;
}

.link-nav {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: #989d9c;
  cursor: pointer;
  margin-right: 23px;
}

.btn-nav {
  width: 130px;
  height: 41px;
  border-radius: 20.5px;
  background: #665ae1;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.logo-image {
  width: 468px;
  height: 400px;
  margin-left: 125px;
  display: inline-block;
}

section {
  display: inline-block;
  margin-left: 86px;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 100px;
  color: #515151;
}

h2 {
  font-size: 52px;
  font-weight: 500;
  line-height: 71px;
  color: #515151;
}

p {
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  color: #848484;
  width: 515px;
  margin-top: 32px;
  margin-bottom: 65px;
}

.btn-explore {
  width: 239px;
  height: 44px;
  border: none;
  border-radius: 50px;
  background-color: #adff00;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (max-width: 710px) {
  nav {
    display: none;
  }

  main {
    padding: 0 auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img {
    margin-top: 120px;
    max-width: 90%;
    margin: 0 auto;
  }

  p {
    display: none;
  }

  button {
    margin-top: 45px;
  }
}

@media screen and (max-width: 490px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }
}
